version: "3.8"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app:rw
    tty: true
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - USE_RELOADER=true
      - MONGO_URI=mongodb://root:password@mongo:27017/
      - MONGO_DATABASE=chronometer-cloud
      - ADMIN_PASSWORD_HASH=ef260e9aa3c673af240d17a2660480361a8e081d1ffeca2a5ed0e3219fc18567  # dev

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    volumes:
      - .:/frontend:rw
    tty: true
    ports:
      - "3000:3000"
    environment:
      NUXT_PUBLIC_BACKEND_URL: "${BACKEND_URL:-http://0.0.0.0:8000}"

  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password

  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_URL: mongodb://root:password@mongo:27017/
      ME_CONFIG_BASICAUTH: false
